.section1{ /*моя компания*/
 padding: 4px;
 background: #4b8310;
  text-align: center;
}
.section2{ /*информация о мо её копаний*/
  padding:8px;
  color: Blue;
  background: #9966cc;
  
}
.section3 {

  padding: 30px;

  background: #9906cc;

  color: white;

}

/* контейнер отзывов */

.reviews {

  display: flex;

  gap: 20px;

  justify-content: center;

  margin-top: 20px;

}

/* карточка отзыва */

.review {

  background: white;

  color: black;

  padding: 20px;

  border-radius: 12px;

  width: 100px;

  box-shadow: 0 10px 10px rgba(0,0,0,0.4);

  transition: transform 0.3s, box-shadow 0.3s;

}

/* эффект при наведении */

.review:active {

  transform: translateY(-20px);

  box-shadow: 0 4px 10px rgba(0,0,0,0.5);

}

.review h3 {

  margin-bottom: 10px;

}

.container{ /*вес контент сайта*/
  max-width: 1100px;
  margin: 40px;
  padding: 0 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.section {
  padding: 20px;
  background: white;
  margin-bottom: 10px;
}